/* Universal */



*{
    margin:0;
    padding:0;
    background-color: #1d1d1d;
    
}

h1{
    color: white;
}

h5{
    color: ;
}


/* End of Universal styles*/


/* Nav-bar*/
.navbar{
    background-color: #1d1d1d;
    float:right;

}

p.menu{
    color:grey;
    background: rgb(32, 32, 32);
    text-align: center;
    font-size: 14px;
    padding:0px 0x 0px;
    margin:0px;
    
   
}

#logo-nav{
        background:none;
        display:block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        width:50%;
        padding: 0px 0px 0px 0px;
}

div.row-logo{
    background: black;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    
}
#logo-nav{
    width: 100%;
    max-width: 500px;
}

#nav-container{
    padding: 0px 0px 0px 0px;
}

.dropdown-divider{
    background:grey;
    margin: 0px 0px;
  
}

#menu-last{
    margin:0px;
    padding: 0px 0px px 0px;

}

.d-flex{
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0px 0px 5px 0px;
}

.d-flex.justify-content-center.below-logo{
    padding: 0px 0px 20px 0px;
    background: black;

}
/* End of Nav-bar styles */

/* Start of Hero Banner */


#hero-banner{
    background-color: #1d1d1d;
    color: white;
    padding-top: 100px 30px 90px;
}

.banner-title{
    font-size: 40px;
    font-weight: 600px;
    margin-top: 50px;
    color: white;
    font-size: 50px;
    line-height: 60px;
    float: inline-start;
}

#desc{
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.btn{
    border:2px solid #0dfdd7;
    color:#0dfdd7;
    letter-spacing: 2px;
}

/* End of Hero Banner Styles */

/* Start of About me */
img{
    width: 300px;
    height: auto;
}

.about-me{
    color: white;
}

.about-me-quote{
    color: white;
}
/* End of About me Styles */



/* Start of Project Styles */
.d-flex{
    background-color: #1d1d1d;
    padding: 50px 0px 50px 0px;

}
/* End of Project Styles */



/* End of My Skills Styles */
/* End of My Skills Styles */

/* Start of Contact Styles */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact-section{
    padding:90px 30px;
}

input, textarea{
    display: block;
}

/* End of Contact Styles */


/* Start of Footer Styles */

#footer{
    background: #0000;
    display: block;
    padding:0px;
    margin:0px;


}
/* End of Footer Styles */